// app global css in SCSS form

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  cursor: pointer;
}

body {
  color: $light;
  background-color: $secondary;
  font-family: 'Ubuntu', sans-serif;
  cursor: default;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: $secondary;
}

::-webkit-scrollbar-thumb {
  background: $primary;
}

::-webkit-scrollbar-thumb:hover {
  background: $primary-darker;
}

.hide-list-scrollbar:not(:hover)::-webkit-scrollbar {
  display: none;
}

.hide-list-scrollbar:not(:hover) {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.bkg-primary {
  background-color: $primary;
}

.bkg-secondary {
  background-color: $secondary;
}

.bkg-active {
  background-color: $active;
}

.bkg-darker {
  background-color: $blue-darker;
}

.glass-design {
  background: rgba(255, 255, 255, 0.07);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.4px);
  -webkit-backdrop-filter: blur(4.4px);
  border: 1px solid $initial-border;
}

.initial {
  a {
    color: $initial-link;
    text-decoration: none;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.15s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.flex-grow-1 {
  flex-grow: 1;
}

.scroll-size {
  max-height: calc(100vh - 220px);
  min-height: calc(100vh - 220px);
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.active-color {
  background-color: $active;
  color: white;
}

.border {
  border-bottom: 1px solid $initial-border !important;
}
